
@{
    ViewBag.Title = "Folders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMain.cshtml";
}

<h2>Create Folders</h2>
<div>
    <table >
        <th>
            Name: <input type="text" name="name"/>
                    
        </th>
        <th> <button type="submit" onclick="CreateFolder()">Create</button></th>
    </table>
</div>
<script>

</script>

